<% stylesheet('/homidom/www/less/homidom.css'); %>
<p><%- i18n('plugin.homidom.description') -%></p>
<img src="/homidom/www/images/logo_homidom.png" width="64" />
<img src="/homidom/www/images/logo_homidom2.png" width="150" />